<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="action_name" default="PickPrinterSkill"/>

    <!-- Symbolic Pose Interaction Skill -->
    <node name="pick_printer_skill" pkg="pick_printer_skill_server" type="pick_printer_skill_server" output="screen">
      <param name='action_name' value='$(arg action_name)' />
    </node>
</launch>
