<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="action_name" default="InitSkill"/>

    <!-- Symbolic Pose Interaction Skill -->
    <node name="init_skill" pkg="init_skill_server" type="init_skill_server" output="screen">
      <param name='action_name' value='$(arg action_name)' />
    </node>
</launch>
